body {
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: 3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site-title {
    position: absolute;
    z-index: 1;
}

iframe {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    transition: 2.5s ease-in-out;
}

form {
    width: 100%;
    text-align: right;
    position: absolute;
}

form input[type=submit] {
    padding: 20px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    z-index: 100;
}

form input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 1);
}

form input[type=submit], .excerpt {
    font-family: helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: -1.25;
}