* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: -1.05;
    text-decoration: none;
    color: black;
}

*::selection {
    background-color: transparent;
}

body {
    position: relative;
    width: 100%;
}

a:hover {
    background-color: rgba(0, 0, 0, 1);
    text-shadow: none;
}

#header, 
#main-content,
.project-wrapper,
#footer {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#header {
    margin-top: -62px;
    position: fixed;
    z-index: 2;
    border-bottom: solid 2px black;
    background: -webkit-linear-gradient(transparent, rgba(255, 255, 255, 0.4) 95%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(255, 255, 255, 0.4) 95%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(255, 255, 255, 0.4) 95%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.4) 95%); /* Standard syntax */
}

#main-content {
    margin-top: 62px;
    margin-bottom: -20px;
}

.project-label {
    margin-top: 20px;
}

iframe {
    pointer-events: none;
    width: 640px;
    height: 480px;
    border: 2px solid rgba(0, 0, 0, 1);
}

#footer {
    border-top: solid 2px black;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.4) 5%, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0.4) 5%, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.4) 5%, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255, 255, 255, 0.4) 5%, transparent); /* Standard syntax */
}

canvas {
    position: absolute;
    margin-top: -62px;
    z-index: -1;
    position: fixed;
}

@media screen and (max-width: 740px) {
    iframe {
        width: 440px;
        height: 280px;
    }
}

@media screen and (max-width: 530px) {
    iframe {
        width: 340px;
        height: 180px;
    }
    
    canvas {
        display: none;
    }
}